<html>
<head>
    <script src="${attributes['js_filepath']}"></script>
    <link rel="stylesheet" href="${attributes['css_filepath']}">
</head>
<body>
    <div id="header">
        <h1>Welcome to CampaignDex</h1>
    </div>

    <div id="body">
        <button id="new_button" onclick="window.location.href='${attributes['new_path']}'">Start a New Campaign</button>
        <p>or</p>
        <div id="campaign_list">
        % for campaign in attributes['campaigns']:
            <div class="campaign" id="campaign_${campaign.id}" onclick="select_campaign('campaign_${campaign.id}', '${campaign.id}')">${campaign.name}</div>
        % endfor
        </div>
        <button id="open_button" onclick="open_campaign()" disabled>Open</button>    
        <button id="manage_button" onclick="manage_campaign()" disabled>Manage</button>
    </div>
</body>
</html>
